!!!5
%hmtl{class:"no-js", lang:"es"}
  %head
    %meta{chartset:"utf-8"}
    %title La mejor comida
    %meta{name:"description", content:"Como rico y  barato"}
    %meta{name:"viewport", content:"width=device-width, initial-scale=1"}
    %script{src:"js/vendor/modernizr-2.8.3.min.js"}
    %link{rel:"stylesheet", href:"css/normalize.css"}

  %body
    ="<!--[if lt IE 8]>"
    %p{class:"browserupgrade"}
      Estás usando un navegador
      %strong desactualizado.
      Por favor
      %a{href:"http://browsehappy.com/"}
        actualiza tu navegador
      para una mejor experiencia
    ="<![endif]-->"
